<header class="cd-main-header">
		<a href="#0" class="cd-logo">KomEkinun</a>

		<div class="cd-search is-hidden">
			<form>
				<i class="fa fa-search search-icon" aria-hidden="true"></i>
				<input type="search" placeholder="Search...">
			</form>
		</div> <!-- cd-search -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
				<li class="has-children account">
					<a>
							{{currentUser.username}}
							<span class="prof-pic"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
					</a>

					<ul>

						<li><a><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
						<li><a><i class="fa fa-cog" aria-hidden="true"></i> Account Settings</a></li>
						<li (click)="logout()"><a><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header> <!-- .cd-main-header -->


	<!-- Store Management -->
	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>
				<li class="cd-label">Store Management</li>
				<!-- overview section -->
				<li class="has-children overview" [class.active]="activeTab == 'overview'" (click)="active = 'overview'; activeTab = overview">
					<a><i class="fa fa-line-chart side-nav-icon" aria-hidden="true"></i>Overview</a>
				</li>
				<!-- products section -->
				<li class="has-children store" [class.active]="activeTab == 'products'" (click)="activeTab = 'products'">
					<a ><i class="fa fa-archive side-nav-icon" aria-hidden="true"></i> Products<span class="count hide"></span></a>

					<ul>
						<li (click)="active = 'product-list'"><a><i class="fa fa-list-ul" aria-hidden="true"></i> All Products</a></li>
						<li (click)="active = 'add-product'"><a><i class="fa fa-plus" aria-hidden="true"></i> Add New Product</a></li>
					</ul>
				</li>
			</ul>
			<!-- end of Store Management -->
			<!-- Personal -->
			<ul>
				<li class="cd-label">Personal</li>
				<!-- account section -->
				<li class="has-children accountTab" [class.active]="activeTab == 'accountTab'" (click)="activeTab = 'accountTab'">
					<a ><i class="fa fa-user side-nav-icon" aria-hidden="true"></i>Account</a>
					<ul>
						<li><a><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
						<li><a><i class="fa fa-cog" aria-hidden="true"></i> Account Settings</a></li>
					</ul>
				</li>
			</ul>
			<!-- end of Personal -->
		</nav>

		<div class="content-wrapper">
			<div *ngIf="active == 'overview'"><app-admin-overview></app-admin-overview></div>
			<div *ngIf="active == 'product-list'"><app-admin-product-list></app-admin-product-list></div>
			<div *ngIf="active == 'add-product'"><app-admin-add-product></app-admin-add-product></div>
		</div> <!-- .content-wrapper -->
