
  <main>

      <div id="carousel">
  
         <div class="hideLeft">
           <h3>75% Discount</h3>
          <img  src="../../../assets/images/a.png">
        </div>
  
        <div class="prevLeftSecond">
          <h3>10% Discount</h3>
          <img  src="../../../assets/images/b.png">
        </div>
  
        <div class="prev">
          <h3>100ml EXTRA</h3>
          <img  src="../../../assets/images/c.png">
        </div>
  
        <div class="selected">
          <h3>50% Discount</h3>
          <img  src="../../../assets/images/d.png">
        </div>
  
        <div class="next">
          <h3>Buy 1 Get 1 Free</h3>
          <img  src="../../../assets/images/e.png">
        </div>
  
        <div class="nextRightSecond">
          <h3>20% Discount</h3>
          <img  src="../../../assets/images/f.png">
        </div>
  
        <div class="hideRight">
          <h3>50% OFF</h3>
          <img  src="../../../assets/images/g.png">
        </div>
  
      </div>
  
      <div class="buttons">
        <span class="lnr lnr-chevron-left" id="prev"></span>
        <span class="lnr lnr-chevron-right" id="next"></span>
      </div>
  
    </main>