.body{
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f1f1f1;
    background-color: #592741;
    position: relative;
}
a{
    font-size: 13px;
    color: #999;
    text-decoration: none;
}
a:hover{
    color: white;
}
.fa-usd{
    margin-right: 5px;
}
.fa-paper-plane{
    margin-left: 10px;
}
.btn{
    border-radius: 0px;
    color: #f1f1f1;
}
.btn:hover{
    color: #ffffff;
}
.row{
    max-width: 1150px;
    margin: 0 auto;
}
p{
    color: #999;
}