<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="category-menu" class="navbar-brand">
        <app-category-menu></app-category-menu>
      </div>
      <a class="navbar-brand" id="logo" href="" routeLink="/"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="" routeLink="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="currentUser == null">
        <li><a href="/login" routerLink="/login">Login</a></li>
        <li><a href="/register" routerLink="/register">Register</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="currentUser">
        <li><a href="/dashboard" routerLink="/dashboard">Dashboard</a></li>
        <li (click)="logout()"><a href="">LogOut</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
