nav{
  background-color: #1E6BE8;
  border-radius: none;
  height: auto;
  border: none;
  color: #f1f1f1;
}
.navbar {
    border-radius: 0px;
}
nav.navbar.navbar-default{
  margin-bottom:0px;
  color: #f1f1f1;
}
ul.navbar-nav li a{
  color: #f1f1f1;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5px auto;
}

#logo{
  width: 150px;
  height: 30px;
  margin: 15px;
  background-image: url('../../../assets/images/kek_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#category-menu{
  margin-top: -19px;
}
/* nav toggle */
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover {
    background-color: #1E6BE8;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #1E6BE8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}



@media (min-width: 768px){
  .navbar {
      border-radius: 0px;
  }
}
