nav{
  background-color: #D72F2E;
  border-radius: none;
  height: auto;
  border: none;
  color: #f1f1f1;
}
.navbar {
    border-radius: 0px;
}
nav.navbar.navbar-default{
  margin-bottom:0px;
  color: #fff;
}
ul.navbar-nav li a{
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  margin: 5px auto;
}
.navbar-center{
  margin: 0 auto
}
#logo{
  width: 180px;
  height: 40px;
  margin: 10px 0px 0px 0px;
  background-image: url('../../../assets/images/kek_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#category-menu{
  margin-top: -19px;
}
/* nav toggle */
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover {
    background-color: #1E6BE8;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #1E6BE8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media (min-width: 768px){
  .navbar {
      border-radius: 0px;
  }
}

ul.navbar-nav[_ngcontent-c1] li[_ngcontent-c1] a[_ngcontent-c1]{
  color: #222;
}
.navbar-default a.dropdown-toggle I{
  color: #f1f1f1;
  font-size: 25px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color:transparent;
}

#search{
  margin: 10px;
  max-width:90%;
  width: 330px;
}

/*#search input{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #888;
} */

input[type=text] {
  width: 180px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../../../assets/images/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 5px 20px 5px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
  margin: 5px;
  float: right;
  border: none;
  color: #222;
}

input[type=text]:focus {
  width: 100%;
}
