.margined-container-fluid{
    /* height: 500px; */
    margin: 0px 100px 0px 100px;
    padding-top: 20px;
}

.ImgThumb{
    padding: 0;
    border: 1px solid #dfdfdf;
}
.activeImg{
    border: 1px solid black;
}
.thumbnails{
    margin-top: 50px;
}
.soldBy{
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    padding: 10px;
}
.img #titleImg{
    width: 100%;
    height: auto;
}
#offPrice, #originalPrice, #availability{
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn{
    border-radius: 0px;
    padding: 8px 16px 8px 16px;
}
#buy{
    margin-top: 10px;
    background: #FD6E26;
    color: white;
    border: 0px;
    font-weight: bold;
}
#off{
    color: #FD6E26;
    font-size: 1.6em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.thumbnail{
    border: 0px;
    margin: 0px 3px 0px 3px;
    box-shadow: none;
}
.caption .btn{
    background: #FD6E26;
    border-radius: 0px;
    border: none;
}
.caption h4{
    color: #FD6E26;
}
.footer{
    height: 300px;
    background: #f86699;
    color: white;
}
a{
    text-decoration: none;
    color: #F34443;
}
a:hover{
    text-decoration: none;
    color: #592741;
}
#originalPrice{
    color: #777777;
    text-decoration: line-through;
}
#offPrice{
    color: #F34443;
}
#availability{
    color: #212121;
}
.Description h3{
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
}
.Description p{
    text-align: justify;
}