/* #item-image{
  height: 120px;
  width: auto;
}
#sale-price{
  font-size: 1.8em;
  font-weight: 500;
  color: red;
}
#actual-price{
  text-decoration: line-through;
  color: #888;
} */

/* Carousel */
.carousel-caption{
  color: #FF5E00;
}

@media (min-width: 1170px) {
  .col-lg-15 {
      width: 20%;
      float: left;
  }
}
.title{
  padding: 10px;
}
.caption .btn{
  background: #FF5E00;
  border-radius: 0px;
  border: none;
}
.caption h4{
  color: #FF5E00;
}
.thumbnail{
  border: 0px;
  margin: 0px 3px 0px 3px;
  box-shadow: none;
  padding: 0;
  height: 380px;
  overflow: hidden;
}
#new{
  color: red;
  font-size: 1.3em;
}
#old{
  color: #999;
  text-decoration: line-through;
}
.pList{
  border-left: 1px solid #dddddd;
}

.caption p{
  text-align: justify;
}
.offTitle{
  color: #fff;
  background-color: red;
  padding: 5px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px 4px 0px 0px;
}
.percentage{
  margin-top: 10px;
  font-size: 14px;
  color: #FF5E00;
  border: 1px solid #FF5E00;
  padding: 3px 6px 3px 6px;
}
.catBody{
  padding: 0px 15px;
  overflow-x: hidden;
}

#item{
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  transition: .4s;
  margin: 10px 0px;
}

#item:hover {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  transform: scale(1.02,1.02);
  cursor: pointer;
}