<div class="container">
    <div class="form-intro">
      <span class="lnr lnr-store"></span>
      <h2>Log In</h2>
    </div>
    <form class="form" #f="ngForm" (submit)="onSubmit(f)">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <strong class="form-error form-control" *ngIf="loginError">{{loginError}}</strong>

          <div class="form-group" >
            <span class="lnr lnr-envelope"></span><label for="email">Email</label>
            <input class="form-control" [(ngModel)]="email" (blur)="checkIfFilled($event)" type="email" name="email" required>
          </div>

          <div class="form-group" >
            <span class="lnr lnr-lock"></span><label for="password">Password</label>
            <input class="form-control" [(ngModel)]="password" (blur)="checkIfFilled($event)" type="password" name="password" required>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-block" id="submit">LOG IN</button>
          </div>

        </div>

      </div>
    </form>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 form-footer">
        Don't have an acoount? <a href="/register" routerLink="/register" class="link">Register your Shop</a>
      </div>
    </div>
</div>
