

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-6 well" *ngFor="let item of selectedCategory" (click)="selectProduct(item)">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xm-4">
            <img id="item-image" src="{{'http://127.0.0.1:8000/storage/'+item.image.substring(7)}}" alt="">
          </div>
          <div class="col-md-4 col-sm-4 col-xm-4">
            <h4>{{item.name}}</h4>
            <p><span id="actual-price">৳ {{item.actual_price}}</span> <span id="sale-price">৳{{item.sale_price}}</span></p>
            <p>{{item.brand_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Filter -->
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Filter</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort by<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Featured</a></li>
            <li><a href="#">Alphabatically: A - Z</a></li>
            <li><a href="#">Alphabatically: Z - A</a></li>
            <li><a href="#">Price: High - Low</a></li>
            <li><a href="#">Price: Low - High</a></li>
            <li><a href="#">Date: New - Old</a></li>
            <li><a href="#">Price: Old - New</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Choose Offer<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">20% OFF</a></li>
            <li><a href="#">30% OFF</a></li>
            <li><a href="#">40% OFF</a></li>
            <li><a href="#">50% OFF</a></li>
            <li><a href="#">60% OFF</a></li>
            <li><a href="#">70% OFF</a></li>
            <li><a href="#">80% OFF</a></li>
            <li><a href="#">Buy 1 Get 1</a></li>
            <li><a href="#">Couple Offer</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Price Range<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="form-group">
                    <input type="range" name="points" min="0" max="10" class="form-control pRange">
              </li>
            </ul>
        </li>  
      </ul>
    </div>
  </nav>

<!-- Products -->
  <div class="container-fluid catBody">
    <div class="row">       
        <!-- Product List -->
            <!-- row 1 -->
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xm-4" *ngFor="let item of selectedCategory">
                    <div id="item" class="thumbnail" (click)="selectProduct(item)">
                        <h4 class="offTitle">{{item.offer_description}}</h4>
                        <img id="item-image" src="{{'http://127.0.0.1:8000/storage/'+item.image.substring(7)}}" alt="">
                        <div class="caption">
                            <h3>{{item.name}}</h3>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="offPrice"><span id="new">৳ {{item.sale_price}}</span><br><span id="old">৳ {{item.actual_price}}</span></h5>
                                </div>
                                <div class="col-md-4">
                                    <p><span class="percentage">{{getPercentage(item)}}%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

<!-- Pagination -->
<div class="container text-center title">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

