

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-6 well" *ngFor="let item of selectedCategory" (click)="selectProduct(item)">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xm-4">
            <img id="item-image" src="{{'http://127.0.0.1:8000/storage/'+item.image.substring(7)}}" alt="">
          </div>
          <div class="col-md-4 col-sm-4 col-xm-4">
            <h4>{{item.name}}</h4>
            <p><span id="actual-price">৳ {{item.actual_price}}</span> <span id="sale-price">৳{{item.sale_price}}</span></p>
            <p>{{item.brand_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid catBody">
    <div class="row">       
        <!-- Product List -->
            <!-- row 1 -->
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xm-4" *ngFor="let item of selectedCategory">
                    <div id="item" class="thumbnail" (click)="selectProduct(item)">
                        <h4 class="offTitle">{{item.offer_description}}</h4>
                        <img id="item-image" src="{{'http://127.0.0.1:8000/storage/'+item.image.substring(7)}}" alt="">
                        <div class="caption">
                            <h3>{{item.name}}</h3>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="offPrice"><span id="new">৳ {{item.sale_price}}</span><br><span id="old">৳ {{item.actual_price}}</span></h5>
                                </div>
                                <div class="col-md-4">
                                    <p><span class="percentage">{{getPercentage(item)}}%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

<!-- Pagination -->
<div class="container text-center title">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

