<!-- menu -->
            <li class="menu">
                <div class="menuIcon">
                    <a href="#">
                        <span class="lnr lnr-menu"></span>
                    </a>
                </div>
                <div class="level1">
                    <ul class="L1">
                        <!-- menu 1 men's fashion -->
                        <li class="menu1">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span> men's fashion<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu1">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">western clothing</a></li>
                                        <li><a href="#">tshirts</a></li>
                                        <li><a href="#">polos</a></li>
                                        <li><a href="#">shirts</a></li>
                                        <li><a href="#">pants</a></li>
                                        <li><a href="#">coats & jackets</a></li>
                                        <li><a href="#">jeans</a></li>
                                        <li><a href="#">shorts & barmudas</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">men's shoes</a></li>
                                        <li><a href="#">sandals & slippers</a></li>
                                        <li><a href="#">formal shoes</a></li>
                                        <li><a href="#">casual shoes</a></li>
                                        <li><a href="#">boots</a></li>
                                        <li><a href="#">sneakers & sport shoes</a></li>
                                        <li><a href="#">shoe care & accessories</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">innerwear & nightwear</a></li>
                                        <li><a href="#">uderwear</a></li>
                                        <li><a href="#">undershirts</a></li>
                                        <li><a href="#">socks</a></li>
                                        <li><a href="#">nightwear</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">traditional clothing</a></li>
                                        <li><a href="#">panjabis & sherwanis</a></li>
                                        <li><a href="#">fatuas & kurtas</a></li>
                                        <li><a href="#">waistcoats</a></li>
                                        <li><a href="#">unstiched fabrics</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">winter clothing</a></li>
                                        <li><a href="#">sweaters & cardigans</a></li>
                                        <li><a href="#">hoodies & sweatshirts</a></li>
                                        <li><a href="#">coats & jackets</a></li>
                                        <li><a href="#">gloves & scarves</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">men's accessories</a></li>
                                        <li><a href="#">ties & cufflings</a></li>
                                        <li><a href="#">wallets & card holders</a></li>
                                        <li><a href="#">eyewear</a></li>
                                        <li><a href="#">belts</a></li>
                                        <li><a href="#">bags</a></li>
                                        <li><a href="#">caps and hats</a></li>
                                        <li><a href="#">jewellery</a></li>
                                        <li><a href="#">other accessories</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">mens watches</a></li>
                                        <li><a href="#">analog</a></li>
                                        <li><a href="#">chronograph</a></li>
                                        <li><a href="#">smart</a></li>
                                        <li><a href="#">digital</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 2 women's fashion -->
                        <li id="menu2">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span> women's fashion<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu2">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">Big brands</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">traditional wear</a></li>
                                        <li><a href="#">saree</a></li>
                                        <li><a href="#">anarkali & gowns</a></li>
                                        <li><a href="#">pakistani lawn</a></li>
                                        <li><a href="#">salwar kameez</a></li>
                                        <li><a href="#">boutiqe dress</a></li>
                                        <li><a href="#">unstiched fabrics</a></li>
                                        <li><a href="#">lehengas</a></li>
                                        <li><a href="#">hijabs & burkas</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">womens accessories</a></li>
                                        <li><a href="#">sunglasses & eyewear</a></li>
                                        <li><a href="#">bags & clutches</a></li>
                                        <li><a href="#">hats, caps & gloves</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">women's watches</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">winter clothing</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">western clothimg</a></li>
                                        <li><a href="#">tops</a></li>
                                        <li><a href="#">T-shirts</a></li>
                                        <li><a href="#">pants</a></li>
                                        <li><a href="#">shrugs</a></li>
                                        <li><a href="#">shirts</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">lingerie & nightwear</a></li>
                                        <li><a href="#">bras</a></li>
                                        <li><a href="#">pants</a></li>
                                        <li><a href="#">nightwear</a></li>
                                        <li><a href="#">shapewear</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">women's jewellery</a></li>
                                        <li><a href="#">earings</a></li>
                                        <li><a href="#">neckless</a></li>
                                        <li><a href="#">nosepin</a></li>
                                        <li><a href="#">bangkes & bracelets</a></li>
                                        <li><a href="#">rings</a></li>
                                        <li><a href="#">jewllery sets</a></li>
                                        <li><a href="#">anklet</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">women's shoes</a></li>
                                        <li><a href="#">flats & sandals</a></li>
                                        <li><a href="#">heels</a></li>
                                        <li><a href="#">wedges</a></li>
                                        <li><a href="#">ballerinas</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="">new in</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="">sales</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 3 phones & tablets -->
                        <li id="menu3">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span> phones & tablets<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu3">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">smartphones</a></li>
                                        <li><a href="#">samsung</a></li>
                                        <li><a href="#">huwawei</a></li>
                                        <li><a href="#">symphony</a></li>
                                        <li><a href="#">LG</a></li>
                                        <li><a href="#">Asus</a></li>
                                        <li><a href="#">infinix</a></li>
                                        <li><a href="#">xiaomi</a></li>
                                        <li><a href="#">WE</a></li>
                                        <li><a href="#">apple</a></li>
                                        <li><a href="#">lava</a></li>
                                        <li><a href="#">dcl</a></li>
                                        <li><a href="#">general mobile</a></li>
                                        <li><a href="#">helio</a></li>
                                        <li><a href="#">oppo</a></li>
                                        <li><a href="#">micromax</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">mobile & tablet accessories</a></li>
                                        <li><a href="#">powerbanks</a></li>
                                        <li><a href="#">cases, covers & protections</a></li>
                                        <li><a href="#">memory cards</a></li>
                                        <li><a href="#">earphones & headsets</a></li>
                                        <li><a href="#">phone chargers</a></li>
                                        <li><a href="#">selfie-sticks</a></li>
                                        <li><a href="#">bluetooth accessories</a></li>
                                        <li><a href="#">VR headsets</a></li>
                                        <li><a href="#">cables & adaptors</a></li>
                                        <li><a href="#">other accessories</a></li>
                                        <li><a href="#">chargers</a></li>
                                        <li><a href="#">smart watches</a></li>
                                        <li><a href="#">batteries</a></li>
                                        <li><a href="#">tablet accessories</a></li>
                                        <li><a href="#">sim cards</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">tablets</a></li>
                                        <li><a href="#">3G</a></li>
                                        <li><a href="#">wifi</a></li>
                                        <li><a href="#">below 8"</a></li>
                                        <li><a href="#">below 9"</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">landline</a></li>
                                        <li><a href="#">cordless</a></li>
                                        <li><a href="#">corded</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 4 tvs, audios & cameras -->
                        <li id="menu4">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span> tvs, audios & cameras<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu4">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">televisions</a></li>
                                        <li><a href="#">LED TV's</a></li>
                                        <li><a href="#">Smart TV's</a></li>
                                        <li><a href="#">3D TV's</a></li>
                                        <li><a href="#">4K TV's</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">tv & video</a></li>
                                        <li><a href="#">projectors</a></li>
                                        <li><a href="#">DVD players</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">tv & video accessories</a></li>
                                        <li><a href="#">TV card & smart box</a></li>
                                        <li><a href="#">romote controllers</a></li>
                                        <li><a href="#">wall mount</a></li>
                                        <li><a href="#">TV & audio cables</a></li>
                                        <li><a href="#">accessories</a></li>
                                        <li><a href="#">binoculars & optics</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">camera</a></li>
                                        <li><a href="#">instant cameras</a></li>
                                        <li><a href="#">security & surveilance</a></li>
                                        <li><a href="#">DSLR & hybrid cameras</a></li>
                                        <li><a href="#">compact cameras</a></li>
                                        <li><a href="#">semi pro cameras</a></li>
                                        <li><a href="#">camcorders</a></li>
                                        <li><a href="#">sports cameras</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">accessories</a></li>
                                        <li><a href="#">camera lenses</a></li>
                                        <li><a href="#">camera tripods</a></li>
                                        <li><a href="#">camera memory cards</a></li>
                                        <li><a href="#">camera filters</a></li>
                                        <li><a href="#">camera flashes</a></li>
                                        <li><a href="#">other accessories</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">Audio & video</a></li>
                                        <li><a href="#">MP3 players</a></li>
                                        <li><a href="#">home theatres</a></li>
                                        <li><a href="#">Hi-Fi Stereo</a></li>
                                        <li><a href="#">Sound bars</a></li>
                                        <li><a href="#">car audio & GPS</a></li>
                                        <li><a href="#">Musical instruments</a></li>
                                        <li><a href="#">speaker system</a></li>
                                        <li><a href="#">movies & songs</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">top brands</a></li>
                                        <li><a href="#">sony</a></li>
                                        <li><a href="#">samsung</a></li>
                                        <li><a href="#">LG</a></li>
                                        <li><a href="#">Fujifilm</a></li>
                                        <li><a href="#">walton</a></li>
                                        <li><a href="#">philips</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 5 computing & gaming -->
                        <li id="menu5">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span> computing & gaming<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu5">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">laptops</a></li>
                                        <li><a href="#">notebooks</a></li>
                                        <li><a href="#">macbooks</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">printer, scanners</a></li>
                                        <li><a href="#">laser printers</a></li>
                                        <li><a href="#">cartiges ink & toners</a></li>
                                        <li><a href="#">office printers</a></li>
                                        <li><a href="#">office printers</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">storage</a></li>
                                        <li><a href="#">memory cards</a></li>
                                        <li><a href="#">usb flash drives</a></li>
                                        <li><a href="#">extarnak hdd</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">gaming</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">desktops & monitors</a></li>
                                        <li><a href="#">all in ones</a></li>
                                        <li><a href="#">desktop bundles</a></li>
                                        <li><a href="#">monitors</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">computer accessories</a></li>
                                        <li><a href="#">laptop accessories</a></li>
                                        <li><a href="#">headphones</a></li>
                                        <li><a href="#">speaker</a></li>
                                        <li><a href="#">keyboards</a></li>
                                        <li><a href="#">networking</a></li>
                                        <li><a href="#">peripherals</a></li>
                                        <li><a href="#">mouses</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">top brands</a></li>
                                        <li><a href="#">asus</a></li>
                                        <li><a href="#">acer</a></li>
                                        <li><a href="#">HP</a></li>
                                        <li><a href="#">lenovo</a></li>
                                        <li><a href="#">apple</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">quick links</a></li>
                                        <li><a href="#">new arrivals</a></li>
                                        <li><a href="#">top sellers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 6 appliances -->
                        <li id="menu6">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span>appliances<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu6">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">large appliances</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">cooling & heating</a></li>
                                        <li><a href="#">air conditioner</a></li>
                                        <li><a href="#">hot water system</a></li>
                                        <li><a href="#">heaters</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">washer & dryers</a></li>
                                        <li><a href="#">washing machines</a></li>
                                        <li><a href="#">dryers</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">refrigerators & freezers</a></li>
                                        <li><a href="#">refrigerators</a></li>
                                        <li><a href="#">freezers</a></li>
                                        <li><a href="#">compressors</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">vacuum cleaners</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">cooking appliances</a></li>
                                        <li><a href="#">cooktops</a></li>
                                        <li><a href="#">exhaust & rangehoods</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">small appliances</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">mixing & blending</a></li>
                                        <li><a href="#">grinder</a></li>
                                        <li><a href="#">blendors</a></li>
                                        <li><a href="#">mixer</a></li>
                                        <li><a href="#">hanheld blendors</a></li>
                                        <li><a href="#">food processors</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">beverage preperations</a></li>
                                        <li><a href="#">kettles</a></li>
                                        <li><a href="#">coffee machines</a></li>
                                        <li><a href="#">juicers</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">small cooking appliances</a></li>
                                        <li><a href="#">microwaves</a></li>
                                        <li><a href="#">rice cookers</a></li>
                                        <li><a href="#">bread makers</a></li>
                                        <li><a href="#">mini ovens & hot plates</a></li>
                                        <li><a href="#">pressure cookers</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">toasting</a></li>
                                        <li><a href="#">sandwich presses & contact grills</a></li>
                                        <li><a href="#">toasters</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">water filters & dispensors</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">other small appliances</a></li>
                                        <li><a href="#">insect killer</a></li>
                                        <li><a href="#">kitchen scales</a></li>
                                        <li><a href="#">other accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 7 home & livings -->
                        <li id="menu7">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span>home & living<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu7">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">bedding</a></li>
                                        <li><a href="#">bedsheets</a></li>
                                        <li><a href="#">blankets & duvets</a></li>
                                        <li><a href="#">pillow covers</a></li>
                                        <li><a href="#">mattresses</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">furniture</a></li>
                                        <li><a href="#">bean bags</a></li>
                                        <li><a href="#">office furnitures</a></li>
                                        <li><a href="#">bedroom furniture</a></li>
                                        <li><a href="#">living room furniture</a></li>
                                        <li><a href="#">kitchen & dining furniture</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">lighting</a></li>
                                        <li><a href="#">decorative lamps</a></li>
                                        <li><a href="#">ceiling lights</a></li>
                                        <li><a href="#">lighting bulbs</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">kitchen & dining</a></li>
                                        <li><a href="#">kitchen tools</a></li>
                                        <li><a href="#">bakeware</a></li>
                                        <li><a href="#">table ware</a></li>
                                        <li><a href="#">kitchen storages</a></li>
                                        <li><a href="#">grilling & BBQ utensils</a></li>
                                        <li><a href="#">cookware</a></li>
                                        <li><a href="#">cooking knives</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">home fixures & repairs</a></li>
                                        <li><a href="#">electric fixures</a></li>
                                        <li><a href="#">hand tools & repairs</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">bathroom accessories</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">outdoor & garden</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">home storage supplies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">home decor</a></li>
                                        <li><a href="#">showpieces</a></li>
                                        <li><a href="#">vases</a></li>
                                        <li><a href="#">cusion inserts & covers</a></li>
                                        <li><a href="#">curtains, blinds & shades</a></li>
                                        <li><a href="#">clocks</a></li>
                                        <li><a href="#">other home decor</a></li>
                                        <li><a href="#">wall art</a></li>
                                        <li><a href="#">candle & candle holders</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">quick links</a></li>
                                        <li><a href="#">new arrivals</a></li>
                                        <li><a href="#">top sellers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 8 sports & travels -->
                        <li id="menu8">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span>sports & travels<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu8">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">exercise & fitness</a></li>
                                        <li><a href="#">treadmills</a></li>
                                        <li><a href="#">exercise cycles</a></li>
                                        <li><a href="#">cross trainers</a></li>
                                        <li><a href="#">other equipments</a></li>
                                        <li><a href="#">supplements & proteins</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">strength & training</a></li>
                                        <li><a href="#">dumbles</a></li>
                                        <li><a href="#">exercise benches</a></li>
                                        <li><a href="#">home gym</a></li>
                                        <li><a href="#">supports</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">racket sports</a></li>
                                        <li><a href="#">badminton</a></li>
                                        <li><a href="#">tennis</a></li>
                                        <li><a href="#">table tennis</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">team sports</a></li>
                                        <li><a href="#">cricket</a></li>
                                        <li><a href="#">football</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">outdoor activities</a></li>
                                        <li><a href="#">cycling</a></li>
                                        <li><a href="#">water sports</a></li>
                                        <li><a href="#">camping & hiking</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">shoes & clothing</a></li>
                                        <li><a href="#">men's sports</a></li>
                                        <li><a href="#">women's sports</a></li>
                                        <li><a href="#">kids sports</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">fitness accessories</a></li>
                                        <li><a href="#">slimming belts</a></li>
                                        <li><a href="#">yoga mats</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">sports & fitness gadgets</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">indoor activities</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">sports bag & accessories</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">travel</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">luggage</a></li>
                                        <li><a href="#">backpacks & briefcase</a></li>
                                        <li><a href="#">travel bags</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">travel accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 9 beauty & health -->
                        <li id="menu9">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span>beauty & health<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu9">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">makeup</a></li>
                                        <li><a href="#">face</a></li>
                                        <li><a href="#">eye</a></li>
                                        <li><a href="#">lips</a></li>
                                        <li><a href="#">makeip kits</a></li>
                                        <li><a href="#">brushes & accessories</a></li>
                                        <li><a href="#">nails & body art</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">personal care</a></li>
                                        <li><a href="#">personal hygiene</a></li>
                                        <li><a href="#">dental care</a></li>
                                        <li><a href="#">eye care</a></li>
                                        <li><a href="#">hand & feet</a></li>
                                        <li><a href="#">accessories</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">men's grooming</a></li>
                                        <li><a href="#">men's skin care</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">skin care</a></li>
                                        <li><a href="#">bath & body</a></li>
                                        <li><a href="#">face & body treatments</a></li>
                                        <li><a href="#">moisturizer & creams</a></li>
                                        <li><a href="#">facial cleaners</a></li>
                                        <li><a href="#">mask & peels</a></li>
                                        <li><a href="#">gifts & value packs</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">hair care</a></li>
                                        <li><a href="#">shampoo & conditioner</a></li>
                                        <li><a href="#">oil & serrum</a></li>
                                        <li><a href="#">cream & mask</a></li>
                                        <li><a href="#">hair styling</a></li>
                                        <li><a href="#">tools & accessories</a></li>
                                        <li><a href="#">gifts & value packs</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">beauty tools</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">health & wellness</a></li>
                                        <li><a href="#">diet & nutrition</a></li>
                                        <li><a href="#">medical supplies</a></li>
                                        <li><a href="#">suxual wellness</a></li>
                                        <li><a href="#">over the counter medicines</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">fragrances</a></li>
                                        <li><a href="#">men</a></li>
                                        <li><a href="#">women</a></li>
                                        <li><a href="#">unisex</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">quick links</a></li>
                                        <li><a href="#">new arrivals</a></li>
                                        <li><a href="#">top sellers</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">bellow 1000k</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 10 baby, kids & toys -->
                        <li id="menu10">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span>baby, kids & toys<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu10">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">kids fashion</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">boys fashion</a></li>
                                        <li><a href="#">boys clothing</a></li>
                                        <li><a href="#">boys shoes</a></li>
                                        <li><a href="#">boys accessories</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">girls fashion</a></li>
                                        <li><a href="#">girls clothing</a></li>
                                        <li><a href="#">girls shoes</a></li>
                                        <li><a href="#">girls accessories</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">babies fashion</a></li>
                                        <li><a href="#">babies clothing</a></li>
                                        <li><a href="#">babies shoes</a></li>
                                        <li><a href="#">babies accessories</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">toys & games</a></li>
                                        <li><a href="#">fidget spiners</a></li>
                                        <li><a href="#">cars & remote control toys</a></li>
                                        <li><a href="#">dolls & accessories</a></li>
                                        <li><a href="#">baby & toddler toys</a></li>
                                        <li><a href="#">action figures & statue</a></li>
                                        <li><a href="#">puzzle & board games</a></li>
                                        <li><a href="#">fidget cubes</a></li>
                                        <li><a href="#">Yo-Yo</a></li>
                                        <li><a href="#">blocks & building toys</a></li>
                                        <li><a href="#">stuffed toys</a></li>
                                        <li><a href="#">learning & education</a></li>
                                        <li><a href="#">sports & outdoor play</a></li>
                                        <li><a href="#">pretend play</a></li>
                                        <li><a href="#">gift sets</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">baby & toddler</a></li>
                                        <li><a href="#">diapers & wipes</a></li>
                                        <li><a href="#">baby care & safty</a></li>
                                        <li><a href="#">baby feeding</a></li>
                                        <li><a href="#">nappy changing</a></li>
                                        <li><a href="#">strollers & activity gear</a></li>
                                        <li><a href="#">baby health care</a></li>
                                        <li><a href="#">potty draining</a></li>
                                        <li><a href="#">nursuery & bedding</a></li>
                                        <li><a href="#">pacifier & accessories</a></li>
                                        <li><a href="#">safety equipment</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">school essentials</a></li>
                                        <li><a href="#">stationeries</a></li>
                                        <li><a href="#">school bags</a></li>
                                        <li><a href="#">water bottles</a></li>
                                        <li><a href="#">tiffin box</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 11 grocers shop -->
                        <li id="menu11">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span>grocers shop<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu11">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">cooking essentials</a></li>
                                        <li><a href="#">rice, flours, pulses & grains</a></li>
                                        <li><a href="#">oils, vinegar & dressings</a></li>
                                        <li><a href="#">spices, masala & salt</a></li>
                                        <li><a href="#">syrups, sugars & sweeteners</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">tea, coffee & beverages</a></li>
                                        <li><a href="#">tea</a></li>
                                        <li><a href="#">coffee & espesso</a></li>
                                        <li><a href="#">powder drink mixes</a></li>
                                        <li><a href="#">milk & cream</a></li>
                                        <li><a href="#">sports & energy drinks</a></li>
                                        <li><a href="#">juice & non-carbonated drinks</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">breakfast</a></li>
                                        <li><a href="#">cerel, oats & flakes</a></li>
                                        <li><a href="#">honey & spreads</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">canned & packeged foods</a></li>
                                        <li><a href="#">soups, ready meals & mixes</a></li>
                                        <li><a href="#">sauces & pickles</a></li>
                                        <li><a href="#">pasta, noodles & shemai</a></li>
                                        <li><a href="#">canned, dry & jarred food</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">snacks</a></li>
                                        <li><a href="#">biscuits, cookies & cakes</a></li>
                                        <li><a href="#">chips & packaged foods</a></li>
                                        <li><a href="#">dried fruit, nuts & seeds</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">chocolates & desserts</a></li>
                                        <li><a href="#">candies, mints, gums & sweets</a></li>
                                        <li><a href="#">chocolate</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">laundry & home care</a></li>
                                        <li><a href="#">household cleaners</a></li>
                                        <li><a href="#">bathroom cleaners</a></li>
                                        <li><a href="#">laundry products</a></li>
                                        <li><a href="#">air freshners</a></li>
                                        <li><a href="#">dishwashing products</a></li>
                                        <li><a href="#">pest controls</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">pet supplies</a></li>
                                        <li><a href="#">birds, fish & small animals</a></li>
                                        <li><a href="#">pet accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- menu 12 others -->
                        <li id="menu12">
                            <a href="#">
                                <span class="lnr lnr-shirt"></span>others<span class="lnr lnr-chevron-right"></span>
                            </a>
                            <div class="L2 submenu12">
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">books & stationery</a></li>
                                        <li><a href="#">stationery</a></li>
                                        <li><a href="#">home country books</a></li>
                                        <li><a href="#">foreign language books</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">stationery</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">travel & tours</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">lifestyle accessories</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">automobile & motorcycles</a></li>
                                        <li><a href="#">motorcycles</a></li>
                                        <li><a href="#">car accessories</a></li>
                                        <li><a href="#">other automotives & motorcycles</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">

                                    <ul>
                                        <li><a href="#">wholesale</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">masher bazar</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">others</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">livestock</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li><a href="#">vouchers & services</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
